<div id = "intro">
  <h1>Welcome to Twitcher - Your Source for Narcissistic Distraction </h1>
  <h3>What it is:<h3>
  <h5>A way of accumulating followers who will hang on your every word, and a way of finding people who will randomly interrupt your life with irrelevant (but fascinating!) messages.</h5>
  <h3>Why you should sign up or log in<h3>
  <h5>Because it's all about you.</h5>
  <h3>Will it cost me anything?</h3>
  <h5>Only your time and sense of perspective.  Money-wise it's free, because we monetize your data.</h5>
</div>

