<li><%= "#{twitch.content}" %>
        <%= link_to "Edit",edit_twitch_path(link) %>
        <%= link_to "Delete", twitch_path(link), :data => {:confirm => "You sure?", :method => "delete"} %>
    </li>
