<h1>Welcome to Twitcher - Your Source for Narcissistic Distraction </h1>
<h3>My Twitches</h3>
<ul id="twitches">
  <%= render @twitches %>
</ul>
<br>
<%= link_to "New Twitch", new_twitch_path, :class=> "btn btn-success", id: "add_twitch", remote: true %>
<br>
<h3>Twitches That Mention Me</h3>
<br>
<ul id="mentions">
  <%= render partial:"mention" %>
</ul>
<br>
<%= link_to "Follow Someone", new_follower_path, :class=> "btn btn-success", id: "follow_someone", remote: true %>
</br>
<h3>Who I'm Following</h3>
<ul id="followers">

</ul>


